# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
.next/

# Flutter
.dart_tool/
build/

# Environment
.env
*.env
!.env.example

# Secrets
secrets/*.json
!secrets/.gitkeep

# Misc
.idea/
.vscode/
